@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@300;500;700&family=Prata&family=Victor+Mono:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

/* font-family: "Archivo Black", sans-serif;
font-family: "League Spartan", sans-serif;
font-family: "Victor Mono", monospace; */

body {
  font-family: "League Spartan", sans-serif;
}

.fa-instagram {
  color: rgb(143, 0, 0);
  text-decoration: none;
  margin-top: 40px;
  font-size: 60px;
}

.container {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  align-items: center;
  overflow: visible;
}

.projects {
  display: grid;
  margin-left: 300px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
}

.artist {
  font-size: 15px;
  color: yellow;
  font-family: "Victor Mono", monospace;
}

.title {
  font-size: 16px;
  letter-spacing: 0.2rem;
  font-family: "Archivo Black", sans-serif;
}
.header h1 {
  font-size: 25px;
}
.video-type {
  opacity: 0.5;
  font-size: 12px;
  font-family: "Victor Mono", monospace;
  font-weight: 100;
}

.video-item .video-img {
  width: 100%;
}

.video-item:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
.video-item {
  position: relative;
}
.logo-yt img {
  width: 250px;
}
.logo-yt {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  top: 15%;
  left: 25%;
  transition: all 0.3s;
  mix-blend-mode: screen;
}
.video-item:hover .logo-yt {
  display: block;
  opacity: 1;
  transition: all 0.3s;
}

.video-item::before {
  background-color: blue;
}

.video-item a,
.header a {
  text-decoration: none;
  color: white;
}

.navigation {
  display: flex;
  position: fixed;
  top: 30%;
  flex-direction: column;
  justify-content: space-around;
  color: white;

  font-family: "Victor Mono", monospace;
}

.navbar {
  padding: 30px;
}

.header {
  margin-bottom: 120px;
  letter-spacing: 0.1rem;
}

.nav h3 {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .projects {
    display: block;
    margin-left: 300px;
  }
  .artist,
  .title,
  .video-type {
    font-size: 12px;
  }
  .logo-yt img {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .projects {
    display: block;
    margin: auto;
  }
  .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
  }

  .navbar {
    flex-direction: row;
    position: static;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav {
    display: none;
  }

  .header {
    display: flex;
    margin: 0;
    font-size: 10px;
  }
  .header h1 {
    font-size: 16px;
  }

  .logo-yt {
    top: 25%;
    left: 30%;
  }
  .logo-yt img {
    width: 220px;
  }

  .artist,
  .title,
  .video-type {
    font-size: 10px;
  }
}
